.btn{
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.btn::after{
    content: '';
    background: linear-gradient(45deg, #6c0202, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
}

.btn:hover::after{
    opacity: 1;
}
@keyframes glowing {
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}
